# IDE settings
**/.metals
**/.vscode
**/local_programs/scala_ws/.metals
**/local_programs/scala_ws/.bloop
**/local_programs/scala_ws/.gradle
**/.DS_Store
**/local_programs/scala_ws/project/
**/local_programs/scala_ws/target/
**/__pycache__/
