# IDE settings
**/.metals
**/.vscode
**/local_programs/scala_view/.metals
**/local_programs/scala_view/.bloop
**/local_programs/scala_view/.gradle
**/local_programs/project
**/node_modules
**/package-lock.json

# Coq build files
**/*.aux
**/*.glob
**/*.vo
**/*.vok
**/*.vos

# OCaml build files
**/_build


**/.DS_Store
local_programs/scala_view/project/
local_programs/scala_view/target/
