html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color:white;
}

a {
  text-decoration: none;
}

/***** NAVIGATION *****/
 
nav {
  width: 100%;
  height: 3%;
  /* gap: 10px; */
  display: flex;
  justify-content: flex-end;
  background-color: #D6D2C4;
  border-bottom: 4px solid white;
  height: 40px;
  text-align: center;
  overflow: hidden;
}

nav a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px;
  color: #373A36;
  font-size: 18px;

}

nav a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px; 
  width: 94%;
  height: 2px;
  transform: scaleX(0);
  background-color: #373A36;
  transition: transform 0.3s;
}

nav a:hover:after {
  transform: scaleX(1);
}

.push {
  margin-left: auto;
  height: auto;
}

/***** LANDING PAGE TITLES *****/

.container-titles{
  width: 100%;
  background-color: #A6192E;
  height: 250px;
}

#landing-titles {
  width: 100%;
  height: 250px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: #A6192E;
  text-align: center;
  color: white;
  white-space: nowrap;
  gap: 2px 2px;
}

.sub-heading {
  font-size: 20px;
  width: 100%; 
  margin-bottom: -10px; 
  margin-top: 80px;
  margin-left: -125px;
  order: 1;
  align-self: center;
}

.title {
  font-size: 60px;
  width: 100%;
  order: 1;
  margin: 0;
  align-self: center;
}

.title-description {
  font-style: italic;
  font-size: 22px;
  order: 1;
  text-align: center;
  color: white;
  margin: 0;
  margin-top: -70px;
}

.division {
  width: 100%;
  border-bottom: 4px solid white;
}

#main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative;
} 

/***** LANDING PAGE CONTENT *****/

.body-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.content-link {
  background-color: #A6192E;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: white;
  width: 15%;
  border: none;
  cursor: pointer;
}

.content-title {
  width: 100%;
}

/***** SIMULATION CONTENT *****/

#control-panel {
  width: 100%;
  padding: 0;
  display: flex;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  height: 3%;
  margin-top: 0;


}

#body-content {
  display: flex;
  width: 100%;
  height: 91.5%;
  overflow: hidden;
  position: relative;
}

#map {
  width: 65%;
  height: 100%;
  order: 1; 
}

#info-panel {
  display: flex;
  width: 35%;
  background-color: #D6D2C4;
  height: 100%;
  flex-direction: column;
  order: 2;
}

.panel {
  width: 100%;
  height: 30%;
}

.panel h3{
  color: #373A36;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.panel p{
  color: #373A36;
  padding-left: 5px;
  font-size: 16px;
}

.panel-half {
  width: 100%;
  height: 30%;
  display: flex; 
  justify-content: flex-end;

}

.panel-half h3{
  color: #373A36;
  padding-left: 5px;
  margin-top: 10px;
  }

.panel-half p{
  color: #373A36;
  padding-left: 5px;
  font-size: 16px;
}

.hud-link {
  background-color: #A6192E;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: white;
  width: 8%;
  border: none;
  cursor: pointer;
  margin-right: 4px;
  transition: transform 0.3s;
}

.hud-link:hover {
  background-color: #76232F;
  transition: transform 0.3s;
}

.hud-link-disabled {
  cursor: wait;
  background-color: #76232F;
}

#more-info{
  height: 100%;
  width: 50%;
}

#camera_stream {

  height: 100%;
  width: 50%;
  
}

#editor {
  height: 60%;
}

#editor[show="false"]{
  display: none;
}

#editor-controls {
  right: 10;
  top: 10;
}

#error {
  top: 50px;
  left: 10px;
  font-size: 60px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: red;
}

#console {
  word-wrap: break-word;
}

#console-log-body {
  background: white;
  height: 70%;
  width: 100%;
  padding: 5px;
  margin-top: 0;
  border-top: 2px solid #76232F;
  border-bottom: 2px solid #76232F;
  z-index: 100;
}